<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.tienchin.clue.mapper.ClueMapper">

    <select id="selectClueList" resultType="org.javaboy.tienchin.clue.domain.vo.ClueSummary">
        select tc.clue_id,tc.name,tch.channel_name,tc.phone,tc.status,tc.create_time,tc.create_by,ta.user_name as owner,tc.next_time
        from tienchin_clue tc
                 left join tienchin_channel tch on tc.channel_id = tch.channel_id and tch.del_flag = 0
                 left join tienchin_assignment ta on tc.clue_id = ta.assign_id and ta.latest = true
    </select>
</mapper>
